@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<link href="~/css/forgetPassword.css" rel="stylesheet" />
<body>

    <span class="body--forgetPassword--title">Enter your email:</span>

    <div class="body--forgetPassword--container">
        <div class="body--forgetPassword--uocContainer">
            <div class="uocLogo"></div>
        </div>
        <form class="forgotPasswordForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>            
            <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email" class="text-danger"></label>
            <span asp-validation-for="Input.Email" class="error-message"></span>
            <button type="submit" class="body--forgetPassword--submitBtn" class="error-message">Reset Password</button>
        </form>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
