/* Following CSS Created by: George */


body {
}

.body--forgetPassword--title {
    position: absolute;
    top: 140px;
    font-size: 20px;
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}

.body--forgetPassword--container {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 90%;
    height: 600px;
    transform: translateX(-50%);
    border: 2px solid #888888;
    box-shadow: 3px 3px 3px #888888;
}

.body--forgetPassword--uocContainer {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #F0F0F0;
    border-bottom: 2px solid #888888;
}

.uocLogo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 130px;
    background-image: url(../images/uoc\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.body--forgetPassword--container input {
    width: 80%;
    height: 25px;
    margin: 10px 0;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #888888;
    font-size: 16px;
}

.body--forgetPassword--container input:focus {
    outline: none;
    border: 1px solid #297FE3;
}

.body--forgetPassword--submitBtn {
    position: relative;
    top: 30px;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    background-color: #297FE3;
    font-size: 20px;
    border: none;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}

.body--forgetPassword--submitBtn:hover {
    background-color: #106CBF;
}

.forgotPasswordForm {
    position: relative; /* Position relative to the preceding element */
    top: 30px; /* Set the space below the logo container */
    width: 80%;
    max-width: 900px;
    margin: 0 auto; /* Center the form in the parent container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error-message {
    display: block;
    color: red;
    font-size: 16px;
    background-color: #fde8ec;
    transition: transform 0.3s ease-out;
}